body {
    display: grid;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 130px auto;
    grid-template-areas:
        "header header"
        "menu disp";
    margin: 0;
    padding: 0;
    height: 100vw;
}

li {
    list-style-type: none;
}

h2 { 
    color: #2c2b22; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 32px; 
    margin-bottom: 0px;
}

p { 
    color: #4c4a37; 
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px; 
    line-height: 32px; 
    margin: 0 0 24px; 
}

/* Header */
#header {
    grid-area: header;
    text-align: center;
    background-color: #f0ece2;
    height: 100%;
}

#header h1 {
    font-size: 50px;
    color: #7c795d; 
    font-family: 'Trocchi', serif; 
    font-weight: normal; 
    line-height: 48px;
}


/* menuDiv */
#menuDiv {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(187, 185, 171);
    width: 100%;
    height: 100%;
}

#projectsTabs, #dateTabs {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.date-nav-tab {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    appearance: none;

    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #24292E;
    font-size: 18px;
    padding: 8px;
    border-color:transparent transparent #24292E transparent ;
}

.project-name-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    appearance: none;
    
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #24292E;
    font-size: 18px;
    padding: 8px;
    border-color:transparent transparent #24292E transparent ;
}

.project-name-nav .binImg {
    display: none;
}

.project-name-nav:hover, .date-nav-tab:hover {
    background-color:#f0ece2;
    border-radius: 5px;
}

.date-nav-tab:hover {
    cursor: pointer;
}

.project-name-nav:hover .binImg {
    display: block;
}

.pTabIcon {
    display:flex;
    width: 100%;
}

.pTabIcon:hover {
    cursor: pointer;
}

.projectTab {
    margin-bottom: 10px;
}

.pNameTab {
    text-align: left;
    padding-left: 10px;
}


/* displayDiv */
#displayDiv {
    grid-area: disp;
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    margin-left: 50px;
}

.itemX {
    display: none;
}

.listItem:hover .itemX {
    display: block;
}

.listItem {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    margin-right: 20px;
    width: 50%;
    justify-content: space-between;
}

.left, .right {
    display: flex;
}

.listItem:hover {
    background-color:#eeedeb;
}

.descripDiv {
    margin-left: 35px;
}

.checkbox {
    margin-right: 10px;
}

.itemX {
    margin-left: 10px;
}

.listItemName {
    cursor: pointer;
    min-width: 150px;
}

.pastDue {
    background-color: red;
}

/* Task Form */
#newTaskForm {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    background-color: #fefdfd;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    justify-content: space-around;
}

#newTaskForm input[type="text"], #newTaskForm input[type="date"] {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

label[for="red"] {
    color: red;
    background-color: red;
}

label[for="orange"]{
    color: orange;
    background-color: orange;
}

label[for="green"] {
    color: green;
    background-color: green;
}

/* button */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

/*cancel button */
.button-1 {
  appearance: none;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
    text-decoration: none;
    transition-duration: 0.1s;
  }

  .button-1:active {
    color:#959DA5;
    transition: none 0s;
  }

/*Inputs */
input {
    background-color: rgb(250, 251, 252);
    border-color: rgb(223, 225, 230);
    color: rgb(9, 30, 66);
    cursor: text;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    line-height: 1.42857; 
    padding: 8px 6px;
    height: 36px;
}

input:hover{
    background-color: rgb(235, 236, 240);
}
input:focus{
    background-color: rgb(255, 255, 255);
    border-color: rgb(76, 154, 255);
}

